.viewport-wrapper {
  position: relative;
  text-align: right;
}

#viewport .plans-wrapper {
  left: 50%;
  margin: 0 0 0 -900px;
  position: absolute;
  text-align: center;
  width: 1800px;
}

#viewport {
  height: 387px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 776px;
}

#viewport .plans-wrapper .plans {
  display: inline-block;
  left: 0;
  position: relative;
}

#viewport .plans-wrapper .plan {
  background: white url("../images/pricing/pricing_top_noise.png") no-repeat center -14px;
  border: 1px solid #bcbcbc;
  display: inline-block;
  height: 304px;
  margin: 3px 22px 0 0;
  position: relative;
  width: 168px;
}

#viewport .plans-wrapper .plan.popular:after {
  background: url(../images/most_popular.png) no-repeat 0 0;
  content: '';
  display: block;
  height: 84px;
  position: absolute;
  right: -3px;
  top: -3px;
  width: 84px;
}

#viewport .plans-wrapper .plan .hour {
  display: none;
}

#viewport .plans-wrapper .plan .price {
  font-size: 16px;
  font-size: 1.6rem;
  border-top: 2px solid #979797;
  color: #333;
  font-family: TitilliumText;
  font-weight: 200;
  height: 62px;
  margin: 10px 10px 20px 10px;
}

#viewport .plans-wrapper .plan .price p {
  margin: 0;
}

#viewport .plans-wrapper .plan .price strong {
  font-size: 30px;
  font-size: 3rem;
  line-height: 62px;
  line-height: 6.2rem;
  font-weight: 300;
}

#viewport .plans-wrapper .plan h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 60px;
  line-height: 6rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  height: 62px;
  margin: 0;
}

#viewport .plans-wrapper .plan ul {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 12px;
  line-height: 1.2rem;
  color: #858585;
  height: 165px;
  list-style: none;
  margin: 0;
  padding: 0px;
}

#viewport .plans-wrapper .plan ul li {
  padding: 5px;
}

#viewport .plans-wrapper .plan ul li:nth-child(odd) {
  background: #fafafa;
}

#viewport .plans-wrapper .plan button {
  display: inline-block;
  width: 100px;
}

.viewport-wrapper a.scroll {
  background: url("../images/sprites/carousel_navigation.png") no-repeat 0 0;
  display: inline-block;
  font-size: 0;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 24px;
  text-indent: -999px;
  top: 50%;
  width: 40px;
}

.viewport-wrapper a.scroll.left {
  background-position: 0 -51px !important;
  left: 24px;
}

.viewport-wrapper a.scroll.left:hover {
  background-position: 0 -153px !important;
}

.viewport-wrapper a.scroll.right:hover {
  background-position: 0 -102px !important;
}

#toggle-pricing {
  color: #15a3df;
  margin: 0 24px 0 0;
}

.pricing-controller .content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  border: 0px;
  padding: 9px 0;
}

h2 {
  box-shadow: inset 0 -1px 2px -2px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-size: 1.7rem;
  border-bottom: 1px solid #fff;
  color: #000;
  font-weight: 400;
  margin: 0 14px 40px 14px;
  padding: 0 12px 0 12px;
  text-transform: uppercase;
}

section {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 0;
  padding: 15px 24px;
}

section:first-child {
  margin-top: 0px;
}

.setup-wrapper {
  height: 198px;
  margin: 0 0 68px 0;
}

.setup {
  overflow: hidden;
  width: 910px;
  z-index: 3;
}

.setup h2 {
  margin: 0;
}

.setup ul {
  margin: 0;
  padding: 0;
}

.setup ul li {
  border-right: 1px solid #e9e9e9;
  display: inline-block;
  padding: 0 0 0 25px;
  width: 143px;
}

.setup ul li.clone {
  width: 370px;
}

.setup ul li:first-child {
  padding: 0 0 0 14px;
}

.setup ul li:last-child {
  border-right: 0px;
}

.setup ul li h2 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
  font-size: 1.7rem;
  border: 0px;
  color: #666;
  font-weight: 200;
  margin: 0 0 15px 0;
  padding: 0;
  text-transform: none;
}

.setup ul li span {
  font-size: 23px;
  font-size: 2.3rem;
  color: #333;
  font-family: TitilliumText;
  font-weight: 200;
}

.setup ul li:last-child span {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 400;
}

.setup + h2 {
  margin-top: 64px;
}

.setup p {
  color: #666;
  font-weight: 200;
  margin: 14px 0 10px 14px;
}

.setup span.seperator {
  margin: 0 20px;
}

.setup span[title] {
  position: relative;
}
.setup span[title]:after {
  font-size: 10px;
  font-size: 1rem;
  content: attr(title);
  display: inline-block;
  font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  font-weight: bold;
  left: 0px;
  position: absolute;
  top: -20px;
  min-width: 50px;
}

.setup small {
  color: #666;
  float: right;
  margin: 0 0 -15px 0;
}

.support-plans {
  font-size: 12px;
  font-size: 1.2rem;
  color: #858585;
  margin: 0 0 180px 0;
  padding: 0;
  text-align: center;
}

.support-plans .plan {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: white url("../images/pricing/pricing_top_noise.png") no-repeat center -5px;
  display: inline-block;
  height: 640px;
  margin: 0 8px 0 0;
  position: relative;
  vertical-align: top;
  width: 180px;
}

.support-plans .plan.popular {
  border: 7px solid #fff;
  height: 650px;
  margin-top: -10px;
}
.support-plans .plan.popular:after {
  background: url(../images/most_popular.png) no-repeat 0 0;
  content: '';
  display: block;
  height: 84px;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 84px;
}

.support-plans .plan.selected {
  border-color: #71b3dc;
}

.support-plans .plan.popular h2:first-child {
  border: 0px !important;
  margin-top: 5px !important;
}

.support-plans .plan.popular button {
  margin: 50px 0 0 0;
}

.support-plans .plan:last-child {
  margin: 0;
}

.support-plans .plan h2 {
  box-shadow: none;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 12px;
  line-height: 1.2rem;
  border-bottom: 1px solid #d6d6d6;
  margin: 25px 15px 10px 15px;
  padding: 0 0 5px 0;
  text-align: left;
}

.support-plans .plan h2:first-child {
  font-size: 20px;
  font-size: 2rem;
  line-height: 70px;
  line-height: 7rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  border-bottom: 0px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: none !important;
}

.support-plans .plan ol {
  padding: 0;
}

.support-plans .plan ol li {
  display: block;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.support-plans .plan ol li:nth-child(odd) {
  background: #fafafa;
}

.support-plans .plan span.unlimited {
  background: #e8f3e8;
  color: #000;
  display: inline-block;
  margin: 10px 0 0 0;
  padding: 5px 10px;
}

.support-plans .plan .price {
  font-size: 16px;
  font-size: 1.6rem;
  border-top: 2px solid #979797;
  color: #333;
  font-family: TitilliumText;
  font-weight: 200;
  height: 62px;
  margin: 10px 10px 0 10px;
}

.support-plans .plan .price p {
  margin: 0;
}

.support-plans .plan .price strong {
  font-size: 40px;
  font-size: 4rem;
  line-height: 62px;
  line-height: 6.2rem;
  font-weight: 300;
}

.support-plans .plan .price small {
  font-size: 12px;
  font-size: 1.2rem;
}

.support-plans .plan.popular .price small {
  line-height: 45px;
  line-height: 4.5rem;
}

.support-plans .plan button {
  margin: 50px 0 0 0;
}

.scaling {
  margin: 0 0 80px 0;
}

.scaling p,
.scaling ul {
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

.scaling p {
  margin: 18px;
  width: 360px;
}

.scaling ul {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 18px 0 0 38px;
  padding: 0;
}

.scaling ul li {
  margin: 0 0 5px 0;
}

.scaling .info {
  background: url(../images/pricing/price.png) no-repeat 0 18px;
  color: #8c8c8c;
  margin: 0 0 30px 0;
  padding: 0 0 0 120px;
}

.call-to-action {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-size: 2rem;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f1f1f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f1f1f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 100%);
  /* W3C */
  color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
  /* IE6-9 */
  font-family: TitilliumText;
  font-weight: 200;
  margin: 0 auto 60px auto;
  overflow: hidden;
  padding: 10px 12px 10px 20px;
  text-align: center;
  width: 740px;
}

.call-to-action .btn {
  display: inline-block;
  margin: 0 0 0 20px;
}

#brisk {
  background: url(../images/pricing/slider_bg.png) no-repeat 13px 13px;
  height: 580px;
  width: 910px;
}

#brisk .amount {
  color: #fff;
}

.slider {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ecc361;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ecc361 0%, #f1f04c 26%, #bdec61 63%, #76dd81 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ecc361), color-stop(26%, #f1f04c), color-stop(63%, #bdec61), color-stop(100%, #76dd81));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ecc361 0%, #f1f04c 26%, #bdec61 63%, #76dd81 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ecc361 0%, #f1f04c 26%, #bdec61 63%, #76dd81 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ecc361 0%, #f1f04c 26%, #bdec61 63%, #76dd81 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ecc361 0%, #f1f04c 26%, #bdec61 63%, #76dd81 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecc361', endColorstr='#76dd81',GradientType=1 );
  /* IE6-9 */
  display: inline-block;
  height: 20px;
  overflow: visible;
  width: 700px;
}

.slider .handle {
  background: url(../images/pricing/slider_button.png) no-repeat 0 0;
  border-radius: 20px;
  cursor: default;
  display: block;
  height: 40px;
  width: 40px;
  z-index: 2;
}

.cluster {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: #f3f3f3 url(../images/bg_pattern.png) repeat 0 0;
  height: 440px;
  width: 910px;
}

.cluster-row {
  border-left: 1px solid #fff;
  border-right: 1px solid #dedede;
  height: 400px;
  margin: 20px 0 0;
  padding: -20px 0 0;
}

.cluster-row:first-child {
  border-left: none;
}

.cluster-row:last-child {
  border-right: none;
}

.node {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: #b2d3e8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b2d3e8 0%, #7ab2d8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b2d3e8), color-stop(100%, #7ab2d8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b2d3e8 0%, #7ab2d8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b2d3e8 0%, #7ab2d8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b2d3e8 0%, #7ab2d8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #b2d3e8 0%, #7ab2d8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2d3e8', endColorstr='#7ab2d8',GradientType=0 );
  /* IE6-9 */
  border: 4px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: TitilliumText;
  font-weight: 200;
  text-align: center;
  vertical-align: middle;
}

.addons {
  margin: 0 0 50px 0;
}

.addons .plans {
  display: none !important;
}

.addons .plans.active {
  display: inline-block !important;
}

section.content .column-wrapper.bordered {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 9px 24px 51px 24px;
}

nav.tab ul li a {
  background: url("../images/sprites/pricing_addons.png") no-repeat 10px -31px;
}

nav.tab ul li:first-child a {
  background: url("../images/sprites/pricing_addons.png") no-repeat 10px 6px;
}

nav.tab ul li:last-child a {
  background: url("../images/sprites/pricing_addons.png") no-repeat 10px -68px;
}

footer {
  margin: -34px 24px 0 24px;
}
