{% load static %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=9">		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi">
		<title»Poll List</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
<body class="content-controller">
		<header>
			<a href="#" class="logo">cloudControl</a>
		</header>

		<section class="content">
			<section id="content" class="clearfix black">
				<h1>
					Poll List
				</h1>
				<div class="static-wrapper">
					{% if latest_poll_list %}
						<ul>
							{% for poll in latest_poll_list %}
							<li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
							{% endfor %}
							</ul>
					{% else %}
						<p>No polls are available.</p>
					{% endif %}
				</div>
			</section>
		</section>
</body></html>