django
gunicorn
MySQL-python==1.2.3
PyYAML==3.10
amqplib==1.0.2
anyjson==0.3.3
dj-database-url==0.2.1
pika==0.9.5
psycopg2==2.4.5
wsgiref==0.1.2
django-pylibmc-sasl==0.2.4
pylibmc==1.2.3
newrelic==1.0.5.156